<h1>Taschenrechner</h1>
<form id="calculatorForm" name="calculatorForm" ng-submit="calculatorVm.submit()">
  <input type="text" id="input1" name="input1" placeholder="1.Eingabe" ng-model="calculatorVm.input1" ng-pattern="calculatorVm.onlyNumberPattern"/>
  <select id="arithmetic" name="arithmetic" ng-model="calculatorVm.arithmetic" size="0">
    <option value="+">+</option>
    <option value="-">-</option>
    <option value="*">*</option>
    <option value="/">/</option>
  </select>
  <input type="text" id="input2" name="input2" placeholder="2.Eingabe" ng-model="calculatorVm.input2" ng-pattern="calculatorVm.onlyNumberPattern"/>
  <input type="submit" id="submitBtn" value="Berechne"/>
</form>
<label for="result" id="ergebnis">
  <p id="result" > Ergebnis: {{calculatorVm.result}} </p>
</label>
<p  style="font-weight: bold; color: #ff0000;" id="invalidInput"
ng-show="(calculatorForm.input1.$invalid && calculatorForm.input1.$dirty) || (calculatorForm.input2.$invalid && calculatorForm.input2.$dirty)">{{calculatorVm.invalidInput}}</p>
<p  style="font-weight: bold; color: #ff0000;" id="invalidArithmetic"
ng-show="calculatorVm.arithmetic">{{calculatorVm.invalidArithmetic}}</p>
<p  style="font-weight: bold; color: #ff0000;" id="error"
ng-show="calculatorVm.error">{{calculatorVm.error}}</p>
